
@{
    ViewBag.Title = "KulupEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Kulup Adı</label>
        <input type="text" class=" form-control" name="KULUPAD" />
    </div>
    <div style=" margin-top:10px">
        <button class="btn btn-info">Yeni Kulup Ekle</button>
    </div>
</form>

